---
import { storyblokEditable } from '@storyblok/astro';
import { Button } from '~/components/ui/button';
import LogoCard from '~/storyblok/Card/Logo.astro';
import IconCard from '~/storyblok/Card/Icon.astro';
import IconCard2 from '~/storyblok/Card/Icon2.astro';
import ImageCard from '~/storyblok/Card/Image.astro';
import SplitCard from '~/storyblok/Card/SplitCard.astro';
import IconHorizontalCard from '~/storyblok/Card/IconHorizontal.astro';
import TeamCard from '~/storyblok/Card/TeamCard.astro';
import ReviewCard from '~/storyblok/Card/ReviewCard.astro';
import DownloadCard from '~/storyblok/Card/Download.astro';

const { blok } = Astro.props;
const { variant } = blok;
---

{variant === 'logo' && <LogoCard blok={blok} />}
{variant === 'icon' && <IconCard blok={blok} />}
{variant === 'icon-2' && <IconCard2 blok={blok} />}
{variant === 'icon-horizontal' && <IconHorizontalCard blok={blok} />}
{variant === 'image' && <ImageCard blok={blok} />}
{variant === 'review' && <ReviewCard blok={blok} />}
{variant === 'split-card' && <SplitCard blok={blok} />}
{variant === 'team-card' && <TeamCard blok={blok} />}
{variant === 'download' && <DownloadCard blok={blok} />}

{
  (!variant || variant === 'default') && (
    <div {...storyblokEditable(blok)}>
      <div class="card">
        <h2>{blok.title}</h2>
        <p>{blok.description}</p>
        {console.log('Card variant:', variant)}
        <Button>{blok.button_text}</Button>
      </div>
    </div>
  )
}
